<%- include('header') %>

<%- include('nav') %>

<form action="/add" method="post" class="mt-5 w-50 container" enctype="multipart/form-data">
    <h2 class="mb-3 text-success">Add TC</h2>
    <input type="file"  class="form-control mb-5 p-2 fs-3" name="gallery"/>
    <button class="btn btn-success">Add TC</button>
</form>

<%- include('footer') %>

