<nav class="navbar bg-light mb-3 mt-4">
    <div class="container-fluid">
      <img width ="60px" height="60px" src="https://png.pngtree.com/png-vector/20190521/ourlarge/pngtree-gallery-logo-icon-design-template-vector-png-image_1048779.jpg" alt="gallery">
      <a class="navbar-brand" href="/">Show TC</a>
      <a class="navbar-brand" href="/add">➕</a>
    </div>
  </nav>